---
title: Redis Enterprise Tile Manager for PCF
owner: Partners
---

<strong><%= modified_date %></strong>

This documentation describes the Redis Enterprise (RE) Tile Manager for Pivotal Cloud Foundry (PCF). 
The RE Tile Manager allows PCF users to deploy multiple RE tiles on a single foundation. 

## <a id="overview"></a>Overview

The Redis Enterprise (RE) Tile Manager allows PCF users to deploy multiple Redis Enterprise for PCF tiles on a single foundation. 
Because each RE tile manages a single RE cluster, RE Tile Manager enables the deployment and independent management of multiple
RE clusters, allowing for:

* Database isolation - For use cases that cannot use multi-tenancy of databases on a single cluster and require complete database isolation
* Independent cluster administration - For organizations that require independent administration of individual clusters by separate IT or DevOps teams 

## <a id="features"></a>Key Features

Redis Enterprise Tile Manager for PCF includes these key features:

* Deploy one or more Redis Enterprise for PCF tile deployments through a Web UI
* Visibility into the currently installed RE tiles, their names, and their port assignment
* Ability to assign TCP port ranges to each tile without IP overlap
* Ability to delete RE tiles

## <a id="snapshot"></a>Product Snapshot

This table provides version and version-support information about Redis Enterprise Tile Manager for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v1.0.17</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>February 28, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Redis Enterprise 5.4.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.4.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.4.x</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>No</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

Redis Enterprise Tile Manager for PCF requires:

* PAS Maximum Disk Quota per App set to at least 4096MB before you install the RE Tile Manager
* The instance size of the deploy-all errand to be at least 4GB of RAM and 8GB disk size

## <a id="limitations"></a>Limitations

When you assign port ranges to managed RE tiles, you must make sure that these ports are available for use.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug,
send an email either to the [Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) list or to [Redis Labs support](mailto:support@redislabs.com).

## <a id="license"></a>License

Customers interested in trying out the Redis Enterprise Tile Manager for PCF can download the tile and install it with the trial license. (Limitations apply)

Use in production and 24/7 support requires a production license for Redis Enterprise Cluster for PCF. Contact a [Redis Labs sales representative](mailto:sales@redislabs.com) for more information.
