---
title: Release Notes for Redis Enterprise Tile Manager for PCF
owner: Partners
---

<strong><%= modified_date %></strong>

These are release notes for Redis Enterprise Tile Manager for PCF.

##<a id="ver"></a> v1.0.17

**Release Date:** February 28, 2019

This is the first release of Redis Enterprise Tile Manager for PCF.

This release of Redis Enterprise Tile Manager for PCF includes these key features:

* Deploy one or more Redis Enterprise for PCF tile deployments through a Web UI
* Visibility into the currently installed RE tiles, their names, and their port assignment
* Ability to assign TCP port ranges to each tile without IP overlap
* Ability to delete RE tiles
