---
title: Release Notes for Redis Enterprise Tile Manager for PCF
owner: Partners
---

<strong><%= modified_date %></strong>

These are release notes for Redis Enterprise Tile Manager for PCF.

##<a id="ver"></a> v1.0.17

**Release Date:** February 28, 2019

This is the first release of Redis Enterprise Tile Manager for PCF.

Features included in this release:

* Deploy one or more Redis Enterprise for PCF tile deployments through a Web UI
* Provides visibility into the currently installed RE tiles, their names, and their port assignment
* Allow for TCP port range assignment of each tile while ensuring no overlap occurs
* Allows for the deletion of RE tiles

