---
title: Using Redis Enterprise Tile Manager for PCF
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to use Redis Enterprise Tile Manager for PCF.

##<a id='using'></a> Using Redis Enterprise Tile Manager for PCF

### Launching Redis Enterprise Tile Manager for PCF

Launch Redis Enterprise Tile Manager by determining your cluster FQDN 
or fix IP Address and prepending it with api-re-tile-manager.

